
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="h-screen flex flex-col justify-center py-1/4 px-5 space-y-6">

    <h1 class='self-start text-xl font-bold'>Sign up</h1>

    <div class="">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full' %>
    </div>
    
    <div class="">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'w-full' %>
    </div>
    <div class="">
      <%= f.label :surname %><br />
      <%= f.text_field :surname, autofocus: true, autocomplete: "surname", class: 'w-full' %>
    </div>

    <div class="">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'w-full' %>
    </div>

    <div class="">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full' %>
    </div>

    <%= f.submit "Sign up", class: "rounded actions h-9 flex flex-col items-center justify-center center bg-green-600 text-white" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

