
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="h-screen flex flex-col justify-center py-1/4 px-5 space-y-6">
    <h1 class='self-start text-xl font-bold'>Log in</h1>
      <div class="w-full">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full' %>
      </div>

      <div class="">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'w-full' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "Log in", class: "rounded actions h-9 flex flex-col items-center justify-center center bg-green-600 text-white" %>
      <%= render "devise/shared/links" %>
    <div>
  <% end %>

