<!DOCTYPE html>
<html lang='fr'>
  <head>
    <title>Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-wallet-black-friday-flaticons-flat-flat-icons.png">
    <meta name="theme-color" content="#C1E692"/>
  </head>

  <body class="background h-screen w-screen">
    <main class="h-full w-screen">
      <%= yield %>
    </main>
  </body>
</html>
