<%= form_with(model: account, local: true, class: 'flex flex-col w-full h-full') do |f| %>
  <%= render "shared/form_errors", form: f %>
  <div class="flex flex-col p-4 space-y-3">

    <%= f.hidden_field :user_id, value: current_user.id %>

    <fieldset class='flex flex-col'>
      <%= f.label :title, class: 'font-semibold' %>
      <%= f.text_field :title, class: 'rounded border-gray-400' %>
    </fieldset>

    <% if @account.new_record? %>
      <fieldset class='flex flex-col'>
        <%= f.label :initial_balance, class: 'font-semibold' %>
        <%= f.number_field :balance, class: 'rounded border-gray-400' %>
      </fieldset>
    <% end %>

    <fieldset class='flex flex-row items-center'>
      <%= f.check_box :main_account, class: 'rounded border-gray-400 mr-2' %>
      <%= f.label :main_account, class: 'font-semibold' %>
    </fieldset>
    
    <%= f.submit %>
  </div>
<% end %>